.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    width: 220px;
}

.product img {
    max-width: 100%;
    border-radius: 5px;
}

.product h3 {
    margin-top: 0;
}

.product p {
    font-size: 14px;
}

.discount {
    color: #d25ca1;
}
  
.strikethrough {
    text-decoration: line-through;
    font-size: 18px;
}